.posts textarea{
    margin-top: 10px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: #888cff 2px solid;
}
.posts button{
    padding: 5px 15px;
    color:white;
    background-color: #888cff;
    border: none;
    border-radius: 15px;
}
.posts{
    margin-top: 25px;
    border-top: 2px solid #888cff;
    padding-bottom: 25px;
}
