.header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    box-shadow:  0 0 10px rgba(0,0,0,0.3) ;
}

h2 {
    font-size: 45px;
}
.ul {
    display: flex;
    margin-bottom: 0;
}

.li {
    padding-left: 15px;
    list-style: none;
}


a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}